/*-------------------------------------------------------------------
                                INDEX
--------------------------------------------------------------------*/
#index {
    background-image: url("img/fondo.jpg");
    background-size: cover;
}

h1{
    color: rgb(7, 7, 7);
    text-align: center;
    margin-top: 15%;
    font-size: 300%;
}

.buttonIndex{
    background-color: rgba(27, 41, 168, 0.788);
    border-radius: 15px;
    color:  #fff;
    text-align: center;
    font-size: 45%;
    cursor: pointer;
    margin: 2%;
    padding: 1%;
    width: 250px;
}


/*-------------------------------------------------------------------
                            INICIAR SESIÓN
--------------------------------------------------------------------*/
#iniciarSesion{
    background-image: url("img/fondo.jpg");
    background-size: cover;
}

.container {
    position: absolute;
    left: 0;
    width: 500px;
    height: 420px;
    margin: 5%;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
}

input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 30px 0;
    border: none;
    background: #f1f1f1;
    width: 94%;
    border-radius: 15px;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: #2670AB;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: x-large;
    border-radius: 15px;
  }
  
  .btn:hover {
    opacity: 1;
  }

/*-------------------------------------------------------------------
                        BARRA NAVEGACION
--------------------------------------------------------------------*/
.cabecera {
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    color: white;
}

#cabeceraRRHH{
    background-color: #2670AB;
}

#topnavRRHH{
    background-color: #2670AB;
}

#cabeceraUser{
    background-color: rgb(202, 111, 30);
}

#topnavUser{
    background-color: rgb(202, 111, 30);
}

.subcabecera {
    font-size: large;
}

.topnav {
    overflow: hidden;
    background-color: rgb(33,97,140);
    
}

.topnav .enlace:hover {
    background-color: #2670AB;
}

.topnav .enlace {
    float: left;
    font-size: large;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
}


/*-------------------------------------------------------------------
                            CONTENIDO
--------------------------------------------------------------------*/
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cuerpo{
    background: rgb(230, 230, 230); 
}

.casilla{
    padding-right: 20%;
    border-radius: 5px;
    font-size: 18px;
}

/*-------------------------------------------------------------------
                    BARRA NAVEGACIÓN VERTICAL
--------------------------------------------------------------------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*-------------------------------------------------------------------
                            LISTA USUARIOS
--------------------------------------------------------------------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/*-------------------------------------------------------------------
                            PIE DE PAGINA
--------------------------------------------------------------------*/

footer { 
    width: 100%; 
    bottom: 0%; 
    background-color: #000; 
    color: #fff; 
    position: absolute; 
    padding-top:20px; 
    padding-bottom:30px; 
    text-align:center; 
    font-size:10px; 
    font-weight:bold; 
} 

.footerLargo { 
    width: 100%; 
    bottom: 0%; 
    background-color: #000; 
    color: #fff; 
    padding-top:20px; 
    padding-bottom:30px; 
    text-align:center; 
    font-size:10px; 
    font-weight:bold; 
}

